@font-face {
    font-family: 'Noto Sans KR';
    src: url('https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@media (max-width: 959px) {
    html {
        font-size: 5px;
    }
}
@media (min-width: 960px) {
    html {
        font-size: 10px;
    }
}


.v-application {
    font-family: 'Noto Sans KR', sans-serif !important;
}

.bg-color{
    background: $grey-light-2 !important;
}

.d-flex {
    display: flex;
}